<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhd.third.jingdong.mapper.DhdJdKeyPlatformPromotionMapper" >
  <resultMap id="BaseResultMap" type="com.dhd.third.jingdong.pojo.DhdJdKeyPlatformPromotion" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="promotion_name" property="promotionName" jdbcType="VARCHAR" />
    <result column="promotion_id" property="promotionId" jdbcType="VARCHAR" />
    <result column="promotion_pid" property="promotionPid" jdbcType="VARCHAR" />
    <result column="parent_platform_id" property="parentPlatformId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creator_id" property="creatorId" jdbcType="INTEGER" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_id" property="modifyId" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sid, promotion_name, promotion_id, promotion_pid, parent_platform_id, status, create_time, 
    creator_id, modify_time, modify_id, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dhd.third.jingdong.pojo.DhdJdKeyPlatformPromotionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dhd_jd_key_platform_promotion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dhd_jd_key_platform_promotion
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dhd_jd_key_platform_promotion
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dhd.third.jingdong.pojo.DhdJdKeyPlatformPromotionExample" >
    delete from dhd_jd_key_platform_promotion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dhd.third.jingdong.pojo.DhdJdKeyPlatformPromotion" >
    insert into dhd_jd_key_platform_promotion (sid, promotion_name, promotion_id, 
      promotion_pid, parent_platform_id, status, 
      create_time, creator_id, modify_time, 
      modify_id, remark)
    values (#{sid,jdbcType=INTEGER}, #{promotionName,jdbcType=VARCHAR}, #{promotionId,jdbcType=VARCHAR}, 
      #{promotionPid,jdbcType=VARCHAR}, #{parentPlatformId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{creatorId,jdbcType=INTEGER}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{modifyId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dhd.third.jingdong.pojo.DhdJdKeyPlatformPromotion" >
    insert into dhd_jd_key_platform_promotion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="promotionName != null" >
        promotion_name,
      </if>
      <if test="promotionId != null" >
        promotion_id,
      </if>
      <if test="promotionPid != null" >
        promotion_pid,
      </if>
      <if test="parentPlatformId != null" >
        parent_platform_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyId != null" >
        modify_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="promotionName != null" >
        #{promotionName,jdbcType=VARCHAR},
      </if>
      <if test="promotionId != null" >
        #{promotionId,jdbcType=VARCHAR},
      </if>
      <if test="promotionPid != null" >
        #{promotionPid,jdbcType=VARCHAR},
      </if>
      <if test="parentPlatformId != null" >
        #{parentPlatformId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        #{modifyId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dhd.third.jingdong.pojo.DhdJdKeyPlatformPromotionExample" resultType="java.lang.Integer" >
    select count(*) from dhd_jd_key_platform_promotion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dhd_jd_key_platform_promotion
    <set >
      <if test="record.sid != null" >
        sid = #{record.sid,jdbcType=INTEGER},
      </if>
      <if test="record.promotionName != null" >
        promotion_name = #{record.promotionName,jdbcType=VARCHAR},
      </if>
      <if test="record.promotionId != null" >
        promotion_id = #{record.promotionId,jdbcType=VARCHAR},
      </if>
      <if test="record.promotionPid != null" >
        promotion_pid = #{record.promotionPid,jdbcType=VARCHAR},
      </if>
      <if test="record.parentPlatformId != null" >
        parent_platform_id = #{record.parentPlatformId,jdbcType=BIGINT},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creatorId != null" >
        creator_id = #{record.creatorId,jdbcType=INTEGER},
      </if>
      <if test="record.modifyTime != null" >
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyId != null" >
        modify_id = #{record.modifyId,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dhd_jd_key_platform_promotion
    set sid = #{record.sid,jdbcType=INTEGER},
      promotion_name = #{record.promotionName,jdbcType=VARCHAR},
      promotion_id = #{record.promotionId,jdbcType=VARCHAR},
      promotion_pid = #{record.promotionPid,jdbcType=VARCHAR},
      parent_platform_id = #{record.parentPlatformId,jdbcType=BIGINT},
      status = #{record.status,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      creator_id = #{record.creatorId,jdbcType=INTEGER},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      modify_id = #{record.modifyId,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dhd.third.jingdong.pojo.DhdJdKeyPlatformPromotion" >
    update dhd_jd_key_platform_promotion
    <set >
      <if test="promotionName != null" >
        promotion_name = #{promotionName,jdbcType=VARCHAR},
      </if>
      <if test="promotionId != null" >
        promotion_id = #{promotionId,jdbcType=VARCHAR},
      </if>
      <if test="promotionPid != null" >
        promotion_pid = #{promotionPid,jdbcType=VARCHAR},
      </if>
      <if test="parentPlatformId != null" >
        parent_platform_id = #{parentPlatformId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        modify_id = #{modifyId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dhd.third.jingdong.pojo.DhdJdKeyPlatformPromotion" >
    update dhd_jd_key_platform_promotion
    set promotion_name = #{promotionName,jdbcType=VARCHAR},
      promotion_id = #{promotionId,jdbcType=VARCHAR},
      promotion_pid = #{promotionPid,jdbcType=VARCHAR},
      parent_platform_id = #{parentPlatformId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_id = #{modifyId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>